Source: roboy-ros-control
Section: misc
Priority: extra
Maintainer: Simon Trendel <simon.trendel@tum.de>
Build-Depends: debhelper (>= 9.0.0), ros-jade, libcmaes
Homepage: https://github.com/Roboy/roboy-ros-control
Standards-Version: 3.9.7

Package: roboy-ros-control
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade, libcmaes, gazebo7
Description: packages for controlling roboy with myo_muscles via flexray
 
